In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('weather_data.csv') #By reading a csv file
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [9]:
df1 = pd.read_excel('weather_data.xlsx', 'Sheet1') #By reading an excel file
df1

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [10]:
#using python dictionaries

weather_data = {
    "day": ['1/1/2017', '1/2/2017', '1/3/2017'],
    "temperature": [32,35,28],
    "windspeed": [6,4,2],
    "event": ['Rain', "Snow", "Sunny"]
}

df_1 = pd.DataFrame(weather_data)

In [11]:
df_1

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          4   Snow
2  1/3/2017           28          2  Sunny

In [12]:
#using python tuples

weather_data_tuple = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017', 35,4,'Snow'),
    ('1/3/2017', 28, 2, "Sunny")
]

df_tuple = pd.DataFrame(weather_data, columns = ["day","temperature","windspeed","event"])

df_tuple

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          4   Snow
2  1/3/2017           28          2  Sunny

In [15]:
#using the list of dictionaries

weather_data = [
    {'day' : '1/1/2017', 'temperature' : 32, 'windspeed' : 6, 'event' : 'Rain'},
    {'day' : '1/2/2017', 'temperature' : 34, 'windspeed' : 3, 'event' : 'Snow'},
    {'day' : '1/3/2017', 'temperature' : 28, 'windspeed' : 4, 'event' : 'Sunny'},
    {'day' : '1/4/2017', 'temperature' : 22, 'windspeed' : 1, 'event' : 'Rain'},
     
]
     
df_2 = pd.DataFrame(weather_data)
df_2

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           34          3   Snow
2  1/3/2017           28          4  Sunny
3  1/4/2017           22          1   Rain